<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CuongFilm Admin</title>

    <!-- Fontfaces CSS-->
    <link href="~/Layout_Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Layout_Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Layout_Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Layout_Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Layout_Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Layout_Admin/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                            <img src="~/Layout_Admin/images/icon/logo-mini.png" alt="CuongPhim Admin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Movies" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Movies" asp-action="Index">
                                <i class="fas fa-film"></i>Movies
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Actors" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Actors" asp-action="Index">
                                <i class="fas fa-user-friends"></i>Actors
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Genres" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Genres" asp-action="Index">
                                <i class="fas fa-tags"></i>Genres
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Countries" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Countries" asp-action="Index">
                                <i class="fas fa-globe"></i>Countries
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Languages" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Languages" asp-action="Index">
                                <i class="fas fa-globe"></i>Languages
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Episodes" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Episodes" asp-action="Index">
                                <i class="fas fa-globe"></i>Episodes
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "MediaFiles" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="MediaFiles" asp-action="Index">
                                <i class="fas fa-globe"></i>MediaFiles
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            MediaFiles
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                    <img src="~/Layout_Admin/images/icon/logo-mini.png" "alt="CuongPhim Admin" />
                </a>     CuongFilm
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Movies" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Movies" asp-action="Index">
                                <i class="fas fa-film"></i>Manage Movies
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Actors" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Actors" asp-action="Index">
                                <i class="fas fa-user-friends"></i>Manage Actors
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Genres" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Genres" asp-action="Index">
                                <i class="fas fa-tags"></i>Manage Genres
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Countries" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Countries" asp-action="Index">
                                <i class="fas fa-globe"></i>Manage Countries
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Languages" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Languages" asp-action="Index">
                                <i class="fas fa-globe"></i>Manage Languages
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Episodes" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="Episodes" asp-action="Index">
                                <i class="fas fa-globe"></i>Manage Episodes
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "MediaFiles" ? "active" : "")">
                            <a asp-area="Admin" asp-controller="MediaFiles" asp-action="Index">
                                <i class="fas fa-globe"></i>Manage MediaFiles
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/Layout_Admin/images/icon/logo-mini.png" alt="Admin" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">@(User.Identity?.Name ?? "Admin")</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Layout_Admin/images/icon/Logo.png" alt="Admin" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">@(User.Identity?.Name ?? "Admin")</a>
                                                    </h5>
                                                    <span class="email">@(User.Identity?.Name ?? "admin@example.com")</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                                        <i class="zmdi zmdi-account"></i>Tài khoản
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="zmdi zmdi-power"></i>Đăng xuất
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Thành công!</strong> @TempData["Success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Lỗi!</strong> @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        @RenderBody()

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>

    <!-- Jquery JS-->
    <script src="~/Layout_Admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Layout_Admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Layout_Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Main JS-->
    <script src="~/Layout_Admin/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>