@* @model (Guid MovieId, bool IsFavorited)

@if (User.Identity?.IsAuthenticated == true)
{
    <button type="button"
            class="btn btn-outline-danger favorite-toggle-btn @(Model.IsFavorited ? "active" : "")"
            data-movie-id="@Model.MovieId"
            data-is-favorited="@Model.IsFavorited.ToString().ToLower()">
        <i class="@(Model.IsFavorited ? "fas" : "far") fa-heart"></i>
        <span class="favorite-text">@(Model.IsFavorited ? "Đã yêu thích" : "Yêu thích")</span>
    </button>
}
else
{
    <a href="@Url.Action("Login", "Account", new { area = "Identity", returnUrl = Context.Request.Path })"
       class="btn btn-outline-danger">
        <i class="far fa-heart"></i> Yêu thích
    </a>
} *@